docker {
    enabled = true
    withName:MERGE {
       runOptions = '--entrypoint="/bin/bash"'
    }
}

process {
     container = 'storytek/stable-diffusion-nf:latest'

     withName:MERGE {
         container = 'dpokidov/imagemagick'
     }
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
}
